<!doctype html>
<html lang="en">
  <head>
   
    
  </head>
  <body>
   
   <div class="card">
      <div class="example-container">
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="list_price">
            <mat-header-cell *matHeaderCellDef mat-header-cell > List Price </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="User UID">$ {{row.list_price}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="dollars_off">
            <mat-header-cell *matHeaderCellDef mat-header-cell > Dollars Off </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="First Name" class="tab-data"> {{row.dollars_off}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="net_price">
            <mat-header-cell *matHeaderCellDef mat-header-cell > Net Price </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Last Name">$ {{row.net_price}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="percent_off">
            <mat-header-cell *matHeaderCellDef mat-header-cell > % off </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="User Name"> {{row.percent_off}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="harmony_cost">
            <mat-header-cell *matHeaderCellDef mat-header-cell> Harmony Cost </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Role">$ {{row.harmony_cost}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="cost_concessions">
            <mat-header-cell *matHeaderCellDef mat-header-cell > Cost Concessions </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Email ID"> {{row.cost_concessions}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="special_cost">
            <mat-header-cell *matHeaderCellDef mat-header-cell > Special Cost </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Email ID"> {{row.special_cost}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="net_cost">
            <mat-header-cell *matHeaderCellDef mat-header-cell > Net Cost </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Email ID"> {{row.net_cost}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="comments">
            <mat-header-cell *matHeaderCellDef mat-header-cell > Comments/Notes </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Email ID"> {{row.comments}} </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          
        </mat-table>
        
      </div>


    </div>
    
    
  </body>
</html>